@import "tailwindcss";
body {
  --tw-bg-opacity: 1;
  background-color: rgb(207, 203, 231);
  background-image: url('./assets/bg.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.congrats-message {
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  color: #4CAF50;
  margin-top: 20px;
  animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}
